$colors: (
  'primary': #1b212c,
  'secondary': #596869,
  'grey': #808782,
  'celadon': #a6d3a0,
  'tea': #d1ffd7,
  'light-grey': #eee,
  'unwhite': #f7fafc,
  'white': #fff,
);

$font-sizes: (
  'xxl': 3.5rem,
  'xl': 2rem,
  'lg': 1.5rem,
  'md': 1.25rem,
  'default': 1rem,
  'sm': 0.75rem,
  'xs': 0.5rem,
);
$grid-active: true;
$grid-columns: 20;
$navbar-active: true;
$forms-active: true;
$helper-overflows: true;
$helper-zindex: true;
$helper-positions: true;
$seperator: ':';
$colors: $colors;
$font-sizes: $font-sizes;
// @import "src/main";

@use 'igniter' with (
  $grid-active: true,
  $grid-columns: 20,
  $navbar-active: true,
  $forms-active: true,
  $helper-overflows: true,
  $helper-zindex: true,
  $helper-positions: true,
  $helper-border: true,
  $seperator: ':',
  $colors: $colors,
  $font-sizes: $font-sizes,
);

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: igniter.color('unwhite');
  color: igniter.color('primary');
}

* {
  // border: 1px solid #eee;
}

.card {
  @extend .bg-white;
  @extend .rounded-sm;

  box-shadow: 0 0 10px transparentize(igniter.color('primary'), 0.95);
}

.button {
  background-color: transparentize(igniter.color('secondary'), 0.8);
  background-color: igniter.color('white');
  color: igniter.color('white');
  // @debug 'here we call colors';
  // @debug igniter.color('white');
  // @debug igniter.color(white);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
