@use "../config/variables";
@mixin do($classname) {
  .#{$classname}border-0 {
    border: 0 #{variables.$important};
  }

  .#{$classname}round {
    border-radius: 100vw #{variables.$important};
  }

  $border-sizes: (
    'xxl': 2rem,
    'xl': 1rem,
    'lg': 0.75rem,
    'md': 0.5rem,
    'sm': 0.25rem,
    'xs': 0.125rem,
  ) !default;

  .#{$classname}rounded-0 {
    border-radius: 0 #{variables.$important};
  }

  @each $name, $value in $border-sizes {
    .#{$classname}rounded-#{$name} {
      border-radius: $value #{variables.$important};
    }
  }
}
