@use "../config/variables";
@mixin do($classname, $colors) {
  @each $name, $color-value in $colors {
    // WARNING: You probably don't mean to use the color value white in interpolation here.
    // It may end up represented as white, which will likely produce invalid CSS.
    // Always quote color names when using them as strings or map keys (for example, "white").
    // If you really want to use the color value here, use '"" + $color-name'.

    $colorname: '' + $name;

    .#{$classname}color-#{$colorname} {
      color: $color-value #{variables.$important};
    }

    .#{$classname}bg-#{$colorname} {
      background-color: $color-value #{variables.$important};
    }
  }
}
