@use "../config/variables";
@mixin do($classname, $displays) {
  @each $value in $displays {
    .#{$classname}#{$value} {
      display: unquote($value) #{variables.$important};
    }
  }
  .#{$classname}hidden,
  .#{$classname}dnone {
    display: none #{variables.$important};
  }
}
