@use "../config/variables";
@mixin do($classname) {
  //
  // Flex
  //

  .#{$classname}flex-column {
    flex-direction: column;
  }

  .#{$classname}flex-column.reverse,
  .#{$classname}column-reverse {
    flex-direction: column-reverse;
  }

  .#{$classname}flex-1 {
    flex: 1 1 0%;
  }

  .#{$classname}flex-row {
    flex-direction: row;
  }

  .#{$classname}row-reverse,
  .#{$classname}reverse {
    flex-direction: row-reverse;
  }

  .#{$classname}flex-wrap {
    flex-wrap: wrap;
  }

  .#{$classname}items-center,
  .#{$classname}y-center,
  .#{$classname}vertical-center {
    align-items: center;
  }

  .#{$classname}flex-start,
  .#{$classname}items-start {
    align-items: flex-start;
  }

  .#{$classname}flex-end,
  .#{$classname}items-end {
    align-items: flex-end;
  }

  .#{$classname}center {
    align-items: center;
    text-align: center;
  }

  .#{$classname}content-start {
    align-content: flex-start;
  }

  .#{$classname}content-center {
    align-content: center;
  }

  .#{$classname}content-end {
    align-content: flex-end;
  }

  .#{$classname}content-between {
    align-content: space-between;
  }

  .#{$classname}content-around {
    align-content: space-around;
  }

  .#{$classname}self-auto {
    align-self: auto;
  }

  .#{$classname}self-start {
    align-self: flex-start;
  }

  .#{$classname}self-center {
    align-self: center;
  }

  .#{$classname}self-end {
    align-self: flex-end;
  }

  .#{$classname}justify-start {
    justify-content: flex-start;
  }

  .#{$classname}justify-center,
  .#{$classname}x-center,
  .#{$classname}horizontal-center {
    justify-content: center;
  }

  .#{$classname}justify-end {
    justify-content: flex-end;
  }

  .#{$classname}space-between,
  .#{$classname}justify-between {
    justify-content: space-between;
  }

  .#{$classname}space-around,
  .#{$classname}justify-around {
    justify-content: space-around;
  }
}
