@use "../config/variables";
@mixin do($classname) {
  .#{$classname}flow-hidden {
    overflow: hidden #{variables.$important};
  }
  .#{$classname}flow-y-hidden {
    overflow-y: hidden #{variables.$important};
  }
  .#{$classname}flow-x-hidden {
    overflow-x: hidden #{variables.$important};
  }
}
