@use "../config/variables";
@mixin do($classname, $positions) {
  @each $value in $positions {
    .#{$classname}#{$value} {
      position: unquote($value) #{variables.$important};
    }
  }

  $positionvalues: ('top', 'right', 'bottom', 'left');

  @each $value in $positionvalues {
    .#{$classname}#{$value}-0 {
      #{$value}: 0 #{variables.$important};
    }
  }
  .#{$classname}trbl-0 {
    top: 0 #{variables.$important};
    right: 0 #{variables.$important};
    bottom: 0 #{variables.$important};
    left: 0 #{variables.$important};
  }
}
