@use '../config/variables';
@mixin do($classname, $spacer) {
  // *
  // * Paddings
  // *
  .#{$classname}p-none {
    padding: 0 #{variables.$important};
  }

  .#{$classname}px-auto {
    padding-left: auto #{variables.$important};
    padding-right: auto #{variables.$important};
  }

  @each $name, $value in $spacer {
    .#{$classname}p-#{$name} {
      padding: #{$value} #{variables.$important};
    }

    .#{$classname}px-#{$name} {
      padding-left: #{$value} #{variables.$important};
      padding-right: #{$value} #{variables.$important};
    }

    .#{$classname}py-#{$name} {
      padding-top: #{$value} #{variables.$important};
      padding-bottom: #{$value} #{variables.$important};
    }

    .#{$classname}pr-#{$name} {
      padding-right: #{$value} #{variables.$important};
    }

    .#{$classname}pl-#{$name} {
      padding-left: #{$value} #{variables.$important};
    }

    .#{$classname}pt-#{$name} {
      padding-top: #{$value} #{variables.$important};
    }

    .#{$classname}pb-#{$name} {
      padding-bottom: #{$value} #{variables.$important};
    }
  }

  // *
  // * Margins
  // *
  .#{$classname}m-none {
    margin: 0 #{variables.$important};
  }

  .#{$classname}mx-auto {
    margin-left: auto #{variables.$important};
    margin-right: auto #{variables.$important};
  }

  .#{$classname}ml-auto {
    margin-left: auto #{variables.$important};
  }

  .#{$classname}mr-auto {
    margin-right: auto #{variables.$important};
  }

  .#{$classname}mt-auto {
    margin-top: auto #{variables.$important};
  }

  .#{$classname}mb-auto {
    margin-bottom: auto #{variables.$important};
  }

  @each $name, $value in $spacer {
    .#{$classname}m-#{$name} {
      margin: #{$value} #{variables.$important};
    }

    .#{$classname}my-#{$name} {
      margin-top: #{$value} #{variables.$important};
      margin-bottom: #{$value} #{variables.$important};
    }

    .#{$classname}mx-#{$name} {
      margin-left: #{$value} #{variables.$important};
      margin-right: #{$value} #{variables.$important};
    }

    .#{$classname}mt-#{$name} {
      margin-top: #{$value} #{variables.$important};
    }

    .#{$classname}mb-#{$name} {
      margin-bottom: #{$value} #{variables.$important};
    }

    .#{$classname}mr-#{$name} {
      margin-right: #{$value} #{variables.$important};
    }

    .#{$classname}ml-#{$name} {
      margin-left: #{$value} #{variables.$important};
    }

    // negative values
    @if ($value != '0' and $value != 0) {
      .#{$classname}-m-#{$name} {
        margin: -#{$value} #{variables.$important};
      }

      .#{$classname}-mx-#{$name} {
        margin-left: -#{$value} #{variables.$important};
        margin-right: -#{$value} #{variables.$important};
      }

      .#{$classname}-mt-#{$name} {
        margin-top: -#{$value} #{variables.$important};
      }

      .#{$classname}-mb-#{$name} {
        margin-bottom: -#{$value} #{variables.$important};
      }

      .#{$classname}-ml-#{$name} {
        margin-left: -#{$value} #{variables.$important};
      }

      .#{$classname}-mr-#{$name} {
        margin-right: -#{$value} #{variables.$important};
      }
    }
  }
}
