@use "../config/variables";
@mixin do($classname, $font-sizes) {
  $text-aligns: ('center', 'left', 'right');

  // *
  // * Text properties
  // *
  @each $value in $text-aligns {
    .#{$classname}text-#{$value} {
      text-align: unquote($value) #{variables.$important};
    }
  }
  .#{$classname}text-uppercase {
    text-transform: uppercase #{variables.$important};
  }

  // *
  // * Font properties
  // *
  .#{$classname}font-bold {
    font-weight: 700 #{variables.$important};
  }

  @each $name, $value in $font-sizes {
    .#{$classname}font-size-#{$name} {
      font-size: $value #{variables.$important};
    }
  }
}
