@use "../mixins/map-getters" as get;
@use "../config/variables";
@use "sass:list";
@mixin do($classname, $current) {
  // *
  // * Widths
  // *
  .#{$classname}w-1\/4,
  .#{$classname}w-25 {
    width: 25% #{variables.$important};
  }
  .#{$classname}w-1\/3,
  .#{$classname}w-33 {
    width: 33.33% #{variables.$important};
  }
  .#{$classname}w-1\/2,
  .#{$classname}w-2\/4,
  .#{$classname}w-half,
  .#{$classname}w-50 {
    width: 50% #{variables.$important};
  }
  .#{$classname}w-2\/3,
  .#{$classname}w-66 {
    width: 66.66% #{variables.$important};
  }
  .#{$classname}w-3\/4,
  .#{$classname}w-75 {
    width: 75% #{variables.$important};
  }
  .#{$classname}w-100,
  .#{$classname}w-full {
    width: 100% #{variables.$important};
  }
  .#{$classname}w-auto {
    width: auto #{variables.$important};
  }

  // *
  // * Max repsonsive widths
  // *

  @for $size from 1 through list.length(variables.$breakpoints) {
    $breakpoint: list.nth(variables.$breakpoints, $size);

    // get current breakpoint name e.g. xs, sm etc.
    $bp-name: list.nth($breakpoint, 1);

    // get current breakpoint value e.g. 568px, 768px etc.
    $bp-size: list.nth($breakpoint, 2);

    .#{$classname}mxw-#{$bp-name} {
      max-width: $bp-size #{variables.$important};
    }
  }

  // *
  // * Heights
  // * @todo new file
  // *
  .#{$classname}h-100 {
    height: 100% #{variables.$important};
  }

  .#{$classname}h-100vh {
    height: 100vh #{variables.$important};
  }

  .#{$classname}h-50 {
    height: 50% #{variables.$important};
  }

  .#{$classname}h-50vh {
    height: 50vh #{variables.$important};
  }

  .#{$classname}h-inherit {
    height: inherit #{variables.$important};
  }
}
