@use "../config/variables";
@mixin do($classname) {
  .#{$classname}z-auto {
    z-index: auto #{variables.$important};
  }
  $zindicies: (0, 10, 20, 100, -1) !default;
  @each $value in $zindicies {
    @if ($value >= 0) {
      .#{$classname}z-#{$value} {
        z-index: #{$value} #{variables.$important};
      }
    } @else {
      .-#{$classname}z#{$value} {
        z-index: #{$value} #{variables.$important};
      }
    }
  }
}
