@use "../config/variables";
@use "../mixins/media-queries";

@use 'flexhelper';
@use 'displayhelper';
@use 'widthhelper';
@use 'colorhelper';
@use 'spacerhelper';
@use 'positionhelper';
@use 'texthelper';
@use 'zindexhelper';
@use 'overflowhelper';
@use 'borderhelper';

@mixin makeHelper($current) {
  // *
  // * Config
  // *
  // * - escape the sperator name if ":" seperator is used
  // * - setting up the correct classname to use
  // *
  $sep: if(
    variables.$seperator,
    '\\'+#{variables.$seperator},
    variables.$seperator
  );
  $classname: if($current == '', '', #{$current}#{$sep});

  // *
  // * Display
  // *
  $displays: ('flex', 'inline-flex ', 'block', 'inline-block') !default;

  @if (variables.$helper-display) {
    @include displayhelper.do($classname, $displays);
  }

  // *
  // * Flexbox
  // *
  @if (variables.$helper-flex) {
    @include flexhelper.do($classname);
  }

  // *
  // * Flexbox
  // *
  @if (variables.$helper-text) {
    @include texthelper.do($classname, variables.$font-sizes);
  }

  // *
  // * Widths
  // *
  @if (variables.$helper-widths) {
    @include widthhelper.do($classname, $current);
  }

  // *
  // * Colors
  // *
  @if (variables.$helper-colors) {
    @include colorhelper.do($classname, variables.$colors);
  }

  // *
  // * Spacing
  // *
  @if (variables.$helper-spacer) {
    @include spacerhelper.do($classname, variables.$spacer);
  }

  // *
  // * Position
  // *
  @if (variables.$helper-positions) {
    $positions: ('fixed', 'absolute', 'relative', 'sticky') !default;
    @include positionhelper.do($classname, $positions);
  }

  // *
  // * Z-Index
  // *
  @if (variables.$helper-zindex) {
    @include zindexhelper.do($classname);
  }

  // *
  // * Overflows
  // *
  @if (variables.$helper-overflows) {
    @include overflowhelper.do($classname);
  }

  // *
  // * Border & Border Radius
  // *
  @if (variables.$helper-border) {
    @include borderhelper.do($classname);
  }
}

// *
// * Do the actual magic
// *

// Do once for default values
@include makeHelper('');

// do for breakpoints
@for $size from 1 through length(variables.$breakpoints) {
  // return current breakpoint value e.g. xs, sm etc.
  $current: nth(nth(variables.$breakpoints, $size), 1);
  @include media-queries.respond-above(#{$current}) {
    @include makeHelper($current);
  }
}
