// * Breakpoints
$breakpoints: (
  xs: 568px,
  sm: 768px,
  md: 1024px,
  lg: 1220px,
  xl: 1460px,
) !default;

// * name colors how you like to
$colors: (
  'primary': #000,
  'secondary': #eee,
  'white': #fff,
) !default;

$important-active: true !default;
$important: if($important-active, '!important', '');

// * name and value
$spacer: (
  '0': 0,
  'xs': 0.25rem,
  'sm': 0.5rem,
  '1': 1rem,
  '2': 2rem,
  '3': 3rem,
  '4': 4rem,
  '5': 5rem,
) !default;

// * Font sizes
$font-sizes: (
  'xxl': 5rem,
  'xl': 2rem,
  'lg': 1.5rem,
  'md': 1.25rem,
  'default': 1rem,
  'sm': 0.75rem,
  'xs': 0.5rem,
) !default;

// * Chose a responseive Seperator
// - Colon ":" or hyphen "-" (or whatever you prefer)
$seperator: ':' !default;

// * Helper

$helper-spacer: true !default;
$helper-colors: true !default;
$helper-display: true !default;
$helper-widths: true !default;
$helper-flex: true !default;
$helper-text: true !default;
$helper-border: false !default;
$helper-overflows: false !default;
$helper-zindex: false !default;
$helper-positions: false !default;
// * Change only if the .md-25 or .xs:25 classes are not required
$flexgrid-widths-active: true !default;

// * Components
$grid-active: false !default;
$navbar-active: false !default;
$forms-active: false !default;
$buttons-active: false !default;

// * Ignore settings if $grid-active = flase;
$grid-gutter: 1rem !default;
$grid-columns: 20 !default;

// * Ignore settings if $navbar-active = flase;
$navbar-height: 5rem !default;
$navbar-margin: 1rem !default;
$navbar-transition-duration: 300ms !default;

// * Ignore settings if $navbar-active = flase;
$form-padding: 1rem !default;

// * Ignore settings if $buttons-active = flase;
$buttons-padding: 0.5rem !default;
