@use "../config/variables";
@mixin do() {
  input[type='submit'],
  button,
  .button {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    padding: variables.$buttons-padding (variables.$buttons-padding * 2);
    user-select: none;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: 0;
    }

    &:active {
      background-image: none;
      outline: 0 !important;
    }

    &[disabled] {
      opacity: 0.9;
      cursor: not-allowed;
    }
  }
}
