@use "../config/variables";
@mixin do() {
  // *
  // * Resets
  // *

  button,
  input,
  optgroup,
  select,
  textarea {
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  input {
    overflow: visible;
  }

  // *
  // * Minimal Styling
  // *

  select,
  textarea,
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='date'],
  input[type='time'],
  input[type='search'],
  input[type='url'] {
    width: 100%;
    padding-left: (variables.$form-padding);
    padding-right: variables.$form-padding;
    padding-top: (variables.$form-padding / 2);
    padding-bottom: (variables.$form-padding / 2);
    line-height: 1.25;
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 0 !important;
    }
  }

  select:invalid {
    color: #757575;
  }
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
  vertical-align: baseline;
}
