@use "sass:list";
@use "sass:math";
@use "../config/variables";
@use "../mixins/map-getters";
@use "../mixins/media-queries";

$sep: if(
  variables.$seperator,
  '\\'+#{variables.$seperator},
  variables.$seperator
);

@mixin do() {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    @include media-queries.respond-above(xl) {
      max-width: map-getters.breakpoint(xl);
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -(variables.$grid-gutter);
    margin-left: -(variables.$grid-gutter);
  }

  .col,
  .row {
    box-sizing: border-box;
    -webkit-box-flex: 0;
  }

  // column default floating
  %column-floating {
    padding-right: variables.$grid-gutter;
    padding-left: variables.$grid-gutter;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
  }

  .col {
    @extend %column-floating;
  }
  @include doColumns();
}

@mixin doColumns() {
  // Create The Grid Classes
  @for $size from 1 through list.length(variables.$breakpoints) {
    $x: list.nth(variables.$breakpoints, $size);
    $current: list.nth(
      $x,
      1
    ); // return current breakpoint value e.g. xs, sm etc.

    //if $size = 1 => smalles breakpoint -> don't only respond above xs, just do
    @if $size == 1 {
      @include makegridcolumns($current, variables.$grid-columns);
    } @else {
      // foreach breakpoint create the responsive output
      @include media-queries.respond-above(#{$current}) {
        @include makegridcolumns($current, variables.$grid-columns);
      }
    }
  }
}
@mixin makegridcolumns($current, $grid-columns) {
  $multi: 100 / $grid-columns;
  //   @debug $multi;
  @for $i from 1 through $grid-columns {
    // if 12 => we want the god old 12 step syntax
    // @debug ($grid-columns % 12);
    @if ($grid-columns % 12 == 0) {
      .#{$current}#{$sep}#{$i} {
        flex-basis: 100% * ($i / $grid-columns);
        max-width: 100% * ($i / $grid-columns);
      }
    }
    //
    @else {
      .#{$current}#{$sep}#{$i*math.floor($multi)} {
        flex-basis: 100% * ($i / $grid-columns);
        max-width: 100% * ($i / $grid-columns);
      }
    }
  }

  // allways (not for each column) include the 33% steps (if not only 3 columns)
  @if $grid-columns != 3 {
    .#{$current}#{$sep}33 {
      flex-basis: (100% / 3);
      max-width: (100% / 3);
    }
    .#{$current}#{$sep}66 {
      flex-basis: (100% / 3 * 2);
      max-width: (100% / 3 * 2);
    }
    // named widths
    .#{$current}#{$sep}half {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  // named widths
  .#{$current}#{$sep}full {
    flex-basis: 100%;
    max-width: 100%;
  }
}
