@use "../config/variables";
@use "../mixins/map-getters";
@use "../mixins/media-queries";

@mixin shadow-1() {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

@mixin do() {
  .navbar {
    height: variables.$navbar-height; // we need this for mobile
    z-index: 1;

    &.sticky {
      position: sticky;
      top: 0;
    }

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .d-flex {
    display: flex;
  }

  .navbar-default {
    background: #eee;
  }

  .navbar-menu-toggle {
    display: none;
  }

  .navbar-menu-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include media-queries.respond-above(md) {
      flex-direction: row;
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  .navbar-brand-link {
    margin-right: auto;
  }

  .navbar-logo {
    max-width: variables.$navbar-height * 4;
    display: block;
    height: variables.$navbar-height;
  }

  .menu-toggler {
    cursor: pointer;
    display: block;
    position: fixed;
    right: variables.$navbar-height * 0.325;
    top: variables.$navbar-height * 0.325;
    z-index: 10;

    .line {
      background-color: black;
      display: block;
      height: 5px;
      width: 40px;
      transition: all variables.$navbar-transition-duration ease-in-out;

      + .line {
        margin-top: 5px;
      }
    }

    &.shadow-1 {
      .line {
        @include shadow-1();
      }
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }

  /*
  * Nav Links
  */
  .nav-main-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: variables.$navbar-margin;

    &.active {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  /**
  * Mobile View
  * - don't show menu by default
  **/

  .navbar-menu-wrapper {
    .menu-main {
      @include media-queries.respond-below(md) {
        opacity: 0;
        transition: all variables.$navbar-transition-duration ease-in-out;
        padding: variables.$navbar-margin;
        z-index: -1;

        &.slide-in-top {
          transform: translateY(-100%);
        }

        &.slide-in-bottom {
          transform: translateY(100%);
        }

        &.slide-in-left {
          transform: translateX(-100%);
        }

        &.slide-in-right {
          transform: translateX(100%);
        }
      }
      @include media-queries.respond-above(md) {
        display: flex;
        align-items: center;
      }
    }
    @media (min-width: 1024px) {
      margin: 0 auto;
      max-width: map-getters.breakpoint(lg);
    }
  }

  .navbar-menu-toggle:checked {
    ~ .menu-toggler {
      .line {
        &:nth-child(1) {
          transform: rotate(-45deg) translate(-9px, 6px);
        }

        &:nth-child(3) {
          transform: rotate(45deg) translate(-5px, -3px);
        }

        &:nth-child(2) {
          width: 0;
          visibility: hidden;
        }
      }
    }

    ~ .navbar-menu-wrapper {
      background: white;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      z-index: 1;
      transition: background variables.$navbar-transition-duration ease-in-out;

      .menu-main {
        @media (max-width: 1024px) {
          opacity: 1;
          transition: all variables.$navbar-transition-duration ease-in-out;
          transform: translateY(0);
        }
      }

      &.fullheight {
        width: 100vw;
        height: 100vh;
      }
    }
  }

  .nav-drop {
    display: none;
  }
}
