@use "../config/variables";
@use "navbar";
@use "forms";
@use "grid";
@use "buttons";

@if (variables.$navbar-active) {
  @include navbar.do();
}

@if (variables.$forms-active) {
  @include forms.do();
}
@if (variables.$buttons-active) {
  @include buttons.do();
}

@if (variables.$grid-active) {
  @include grid.do();
}

@if (
  variables.$helper-flex and
  variables.$flexgrid-widths-active and
  variables.$grid-active ==
  false
) {
  @include grid.doColumns();
}
