@use "sass:map";
@use "../config/variables";

///**
//* Return a single color from $colors@variables
//*
//*   .usage {
//*       color: color('primary');
//*   }
//*/
@function color($key) {
  @if map.has-key(variables.$colors, $key) {
    @return map.get(variables.$colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";

  @return null;
}

///**
//* Return a single breakpoint value from $breakpoints map-variable
//*
//*   .usage {
//*       max-width: breakpoint('primary');
//*   }
//*/
@function breakpoint($key) {
  @if map.has-key(variables.$breakpoints, $key) {
    @return map.get(variables.$breakpoints, $key);
  }

  @warn "Unknown `#{$key}` in $breakpoints.";

  @return null;
}

@function font-size($key) {
  @if map.has-key(variables.$font-sizes, $key) {
    @return map.get(variables.$font-sizes, $key);
  }

  @warn "Unknown `#{$key}` in $font-sizes.";

  @return null;
}
