@use "sass:map";
@use "../config/variables";

// *
// * Media Query Includes Mixins
// *
// * Credit for these mixins goes to Glenn McCombs (https://twitter.com/lenymo)
// *

@mixin respond-above($breakpoint) {
  @if map.has-key(variables.$breakpoints, $breakpoint) {
    $breakpoint-value: map.get(variables.$breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  @if map.has-key(variables.$breakpoints, $breakpoint) {
    $breakpoint-value: map.get(variables.$breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {
  @if map.has-key(variables.$breakpoints, $lower) and map.has-key(variables.$breakpoints, $upper) {
    $lower-breakpoint: map.get(variables.$breakpoints, $lower);
    $upper-breakpoint: map.get(variables.$breakpoints, $upper);
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map.has-key(variables.$breakpoints, $lower) ==false) {
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    @if (map.has-key(variables.$breakpoints, $upper) ==false) {
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}
